<article class="bio">
  <h2 id={{ .Get "id" }} class="bio__name">{{ .Get "name" }}</h2>
  <img src="/bios/{{ .Get "pic" }}" alt="{{ .Get "name" }}" class="bio__pic" />
  <ul class="bio__desc">{{.Inner}}</ul>
</article>
