<li class="bio__email">
  <i class="icon icon-envelope" aria-hidden="true"></i> <a href="mailto:{{.Get 0}}@codeursenliberté.fr">{{.Get 0}}@codeursenliberté.fr</a>
  <span class="bio__email-diacritics">(avec ou sans accent)</span>
</li>
